<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta FIPE</title>
</head>

<body>

    <form method="get" action="/modelos">
        <label for="cars">Choose a car:</label>

        <select name="marca" id="cars">

            <% marcas.forEach(element=> { %>
                <option value="<%=element.nome%>">
                    <%=element.nome%>
                </option>
                <% }) %>
        </select>
        <input type="submit" value="carregar modelos">

        <% if (locals.modelos) { %>

            <select name="modelo" id="modelocars">

                <% modelos.forEach(element=> { %>
                    <option value="<%=element%>">
                        <%=element%>
                    </option>
                    <% }) %>
            </select>
            <input type="submit" value="carregar anos">
        </form>

       <form  method="get" action="/anos">

            <% } %>

                <% if (locals.anos) { %>
                    <select name="ano" id="anocars">

                        <% anos.forEach(element=> { %>
                            <option value="<%=element%>">
                                <%=element%>
                            </option>
                            <% }) %>
                    </select>
                    <input type="submit" value="carregar valores">
                    <% } %>
</form>





</body>

</html>